<p id="notice"><%= notice %></p>

<p>
  <strong>Product name:</strong>
  <%= @product.product_name %>
</p>

  <% (0...@product.images.count).each do |image|%>
  <div style="width:300px; height: 300px;">
    <%= image_tag(@product.images[image], :style=>'width:100%; height: auto') %>
    </div>
  <%end%>

<p>
  <strong>Product type:</strong>
  <%= @product.product_type %>
</p>

<p>
  <strong>Product accessories:</strong>
  <%= @product.product_accessories %>
</p>

<p>
  <strong>Product description:</strong>
  <%= @product.product_description %>
</p>

<p>
  <strong>Per day price:</strong>
  <%= @product.per_day_price %>
</p>

<p>
  <strong>Product available from date:</strong>
  <%= @product.product_available_from_date %>
</p>

<p>
  <strong>Product available to date:</strong>
  <%= @product.product_available_to_date %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
